# EditorConfig is awesome: https://EditorConfig.org

# Ensure that personal preference presentation settings can be inherited from 
# parent .editorconfig files.
root = false

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

[*.{c,cpp,h,hpp}]
max_line_length = 100

[*.{frag,vert}]
max_line_length = 100

